<h1>Finding our best-performing salespeople and products</h1>

<h2>Introduction</h2>

<p><strong>Business Context.</strong> You work for AdventureWorks, a company that sells outdoor sporting equipment. The company has many different locations and has been recording the sales of different locations on various products. You, their new data scientist, have been tasked with the question: <strong>"What are our best products and salespeople and how can use this information to improve our overall performance?"</strong></p>
<p>You have been given access to the relevant data files with documentation from the IT department. Your job is to extract meaningful insights from these data files to help increase sales. First, you will look at the best products and try to see how different products behave in different categories. Second, you will analyze the best salespeople to see if the commission percentage motivates them to sell more.</p>

<p><strong>Business Problem.</strong> Your task is to <strong>construct a database from the provided CSV files and then write queries in SQL to carry out the requested analysis</strong>.</p>

<p><strong>Analytical Context.</strong> You are given the data (stored in the <code>data/csvs</code> folder) as a set of separate CSV files, each one representing a table. You will build a new PostgreSQL database from these files using AWS RDS.</p>
<p>The company has been pretty vague about how they expect you to extract insights, but you have come up with the following plan of attack:</p>
<ol>
<li>Create the database and ensure you can run basic queries against it</li>
<li>Look at how product ratings and total sales are related</li>
<li>See how products sell in different subcategories (bikes, helmets, socks, etc.)</li>
<li>Calculate which salespeople have performed the best in the past year</li>
<li>Seeing if total sales are correlated with their commission percentage</li>
</ol>
<p>Of course, this is only your initial plan. As you explore the database, your strategy will change.</p>

<h2>Setting up AWS</h2>

<p>In this case, we'll assume that the company has given you an entry-level laptop, which is not capable of running a PostgreSQL server locally. Therefore, you should set up a cloud database, connect to it from <code>psql</code>, and run the analysis via the <code>psql</code> or directly from the notebook.</p>

<h3>Question :</h3>
<p>Repeat the steps in Case 12.3 to create a new RDS instance with a PostgreSQL database.</p>

<h2>Overview of the data</h2>

<p>The data for the case is contained in the <code>./data/csvs</code> directory; specifically, it is the <code>AdventureWorks</code> sample data provided by Microsoft. We will be focusing on the Sales and Production categories. Complete documentation for the original data (of which you have only a subset) can be found <a href="https://dataedo.com/download/AdventureWorks.pdf">here</a>. </p>
<p><strong>Product Tables:</strong>
* <strong>Product</strong>: one row per product that the company sells
* <strong>ProductReview</strong>: one row per rating and review left by customers
* <strong>ProductModelProductDescriptionCulture</strong>: a link between products and their longer descriptions also indicating a "culture" - which language and region the product is for
* <strong>ProductDescription</strong>: a longer description of each product, for a specific region
* <strong>ProductCategory</strong>: the broad categories that products fit into
* <strong>ProductSubCategory</strong>: the narrower subcategories that products fit into</p>
<p><strong>Sales Tables:</strong>
* <strong>SalesPerson</strong>: one row per salesperson, including information on their commission and performance
* <strong>SalesOrderHeader</strong>: one row per sale summarizing the sale
* <strong>SalesOrderDetail</strong>: many rows per sale, detailing each product that forms part of the sale
* <strong>SalesTerritory</strong>: the different territories where products are sold, including performance</p>
<p><strong>Region Tables:</strong>
* <strong>CountryRegionCurrency</strong>: the currency used by each region
* <strong>CurrencyRate</strong>: the average and closing exchange rates for each currency compared to the USD</p>

<h2>Using <code>ipython-sql</code> and <code>pgspecial</code></h2>
<p>Jupyter notebook is usually used to run Python code, but with an add-on it can run SQL directly against a database too. The extensions <code>ipython-sql</code> and <code>pgspecial</code> will let you do this.</p>

<p>Load the sql add-on and connect to the database as follows. You'll need to change the username (<code>postgres</code>), password (<code>mysecretpassword</code>), host (<code>localhost</code>), and database name (<code>postgres</code>) to what you used when setting up your RDS instance:</p>

In [20]:
!pip install scipy
!pip install ipython-sql 
!pip install pgspecial

Requirement already satisfied: scipy in /opt/conda/lib/python3.6/site-packages (1.1.0)
Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Collecting prettytable<1 (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/85/ee/6e821932f413a5c4b76be9c5936e313e4fc626b33f16e027866e1d60f588/sqlparse-0.3.1-py2.py3-none-any.whl (40kB)
    100% |████████████████████████████████| 40kB 933kB/s ta 0:00:01
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.6/site-packages (from ipython-sql) (1.2.15)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.6/site-packages (from ipython-sql) (7.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (40.6.3)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.13.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt_toolkit<2.1.0,>=2.0.0 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.0.7)
Requirement already satisfied: pygments in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: parso>=0.3.0 in /opt/conda/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from prompt_toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.6/site-packages (from pexpect->ipython>=1.0->ipython-sql) (0.6.0)
Building wheels for collected packages: prettytable
  Running setup.py bdist_wheel for prettytable ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.3.1
Collecting pgspecial
  Downloading https://files.pythonhosted.org/packages/34/70/f20df1e335592ace0e4f54989307d1630163445599b6abd43a2e0149d483/pgspecial-1.11.10-py3-none-any.whl
Collecting click>=4.1 (from pgspecial)
  Downloading https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl (82kB)
    100% |████████████████████████████████| 92kB 2.1MB/s ta 0:00:01
Requirement already satisfied: sqlparse>=0.1.19 in /opt/conda/lib/python3.6/site-packages (from pgspecial) (0.3.1)
Requirement already satisfied: psycopg2>=2.7.4 in /opt/conda/lib/python3.6/site-packages (from pgspecial) (2.8.6)
Installing collected packages: click, pgspecial
Successfully installed click-7.1.2 pgspecial-1.11.10

In [21]:
%load_ext sql
%sql postgresql://postgres:taxisrcp$@ds4ataxisrcp.col3gdd6vsxk.us-east-2.rds.amazonaws.com/postgres

<p>You should now be able to run SQL directly from any Jupyter notebook cell by starting the cell with a line that states <code>%%sql</code>. For example (once you have a database with some tables, which we'll only create later):</p>
<div class="codehilite"><pre><span></span><code><span class="o">%%</span><span class="k">sql</span>

<span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">product</span> <span class="k">LIMIT</span> <span class="mi">10</span><span class="p">;</span>
</code></pre></div>


<p><strong>Note:</strong> Unlike <code>pandas</code> which automatically truncates output for large DataFrames, the SQL plug-in gives you exactly what you ask for. If you do a <code>SELECT * FROM</code> a table with a million rows and no <code>LIMIT</code> clause, it'll output all million rows and probably freeze your notebook. It's good practice to always use a <code>LIMIT</code> clause even when it's not needed to avoid any mishaps.</p>

<h2>Creating the database and adding the tables</h2>
<p>Now, let's create a database called <code>adventuretime</code>. (If you do this through the notebook, you'll have to add the line <code>end;</code> before your <code>create database</code> command as the add-on runs everything in transactions).</p>
<p>You'll need to add a table for each of the CSV files. Spend some time looking at the different CSV files and getting used to how they reference each other and what headers they create. Then, you'll need to write an appropriate <code>CREATE TABLE</code> command with appropriate types. You can figure out the types by inspecting the CSV files and/or referencing the documentation.</p>

**Answer.**

In [104]:
%%sql

-- CHECK TO MAKE SURE THE DATA IS LOADED AS EXPECTED
select * from product limit 10;

 * postgresql://postgres:***@bootcamprds.cemrpii4vl7l.us-east-2.rds.amazonaws.com/postgres
10 rows affected.

[(1, 'Adjustable Race', 'AR-5381', 'f', 'f', None, 1000, 750, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '694215b7-08f7-4c0d-acb1-d734ba44c0c8', datetime.date(2014, 2, 8)),
 (2, 'Bearing Ball', 'BA-8327', 'f', 'f', None, 1000, 750, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '58ae3c20-4f3a-4749-a7d4-d568806cc537', datetime.date(2014, 2, 8)),
 (3, 'BB Ball Bearing', 'BE-2349', 't', 'f', None, 800, 600, 0.0, 0.0, None, None, None, None, 1, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e', datetime.date(2014, 2, 8)),
 (4, 'Headset Ball Bearings', 'BE-2908', 'f', 'f', None, 800, 600, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, 'ecfed6cb-51ff-49b5-b06c-7d8ac834db8b', datetime.date(2014, 2, 8)),
 (316, 'Blade', 'BL-2036', 't', 'f', None, 800, 600, 0.0, 0.0, None, None, None, None, 1, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, 'e73e9750-603b-4131-89f5-3dd15ed5ff80', datetime.date(2014, 2, 8)),
 (317, 'LL Crankarm', 'CA-5965', 'f', 'f', 'Black', 500, 375, 0.0, 0.0, None, None, None, None, 0, None, 'L', None, None, None, datetime.date(2008, 4, 30), None, None, '3c9d10b7-a6b2-4774-9963-c19dcee72fea', datetime.date(2014, 2, 8)),
 (318, 'ML Crankarm', 'CA-6738', 'f', 'f', 'Black', 500, 375, 0.0, 0.0, None, None, None, None, 0, None, 'M', None, None, None, datetime.date(2008, 4, 30), None, None, 'eabb9a92-fa07-4eab-8955-f0517b4a4ca7', datetime.date(2014, 2, 8)),
 (319, 'HL Crankarm', 'CA-7457', 'f', 'f', 'Black', 500, 375, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '7d3fd384-4f29-484b-86fa-4206e276fe58', datetime.date(2014, 2, 8)),
 (320, 'Chainring Bolts', 'CB-2903', 'f', 'f', 'Silver', 1000, 750, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '7be38e48-b7d6-4486-888e-f53c26735101', datetime.date(2014, 2, 8)),
 (321, 'Chainring Nut', 'CN-6137', 'f', 'f', 'Silver', 1000, 750, 0.0, 0.0, None, None, None, None, 0, None, None, None, None, None, datetime.date(2008, 4, 30), None, None, '3314b1d7-ef69-4431-b6dd-dc75268bd5df', datetime.date(2014, 2, 8))]

<h2>Finding our most popular products</h2>

<p>As discussed, the company would like to know which of their products is the most popular among customers. You figure that the average rating given in reviews is correlated with the number of sales of a particular product (that products with higher reviews have more sales).</p>

<h3>Exercise 2:</h3>
<p>Using the <code>product</code> and <code>productreview</code> tables, <code>JOIN</code> them and rank the products according to their average review rating. What are the names and IDs of the top 5 products?</p>

**Answer.**

In [53]:
%%sql
select p2.productid, name, avg(rating) as Avg, productmodelid  as M from product as p1 join productreview as p2 on p1.productid=p2.productid GROUP BY p2.productid, p1.name, p1.productmodelid  ORDER BY Avg DESC  ;

 * postgresql://postgres:***@bootcamprds.cemrpii4vl7l.us-east-2.rds.amazonaws.com/postgres
3 rows affected.

[(709, 'Mountain Bike Socks, M', Decimal('5.0000000000000000'), 18),
 (798, 'Road-550-W Yellow, 40', Decimal('5.0000000000000000'), 29),
 (937, 'HL Mountain Pedal', Decimal('3.0000000000000000'), 64)]

<h3>Exercise 3:</h3>
<p>Much to your disappointment, there are only three products with ratings and only four reviews in total! This is nowhere near enough to perform an analysis of the correlation between reviews and total sales.</p>
<p>Nevertheless, your manager wants the <strong>English description</strong> of these products for an upcoming sale. Use the documentation provided above if you need help navigating the structure to extract this!</p>
<p><strong>Hint:</strong> You'll notice that the value for <code>cultureid</code> in the <code>productmodelproductdescriptionculture</code> table often has extra trailing spaces which makes it difficult to reliably get descriptions of a specific language. You should first modify this table before writing the <code>SELECT</code> statement to get the descriptions that your manager wants. To do this, you can use an <code>UPDATE</code> statement with Postgres's <a href="https://w3resource.com/PostgreSQL/trim-function.php"><code>TRIM</code></a> function.</p>

**Answer.**

In [52]:
%%sql
UPDATE productmodelproductdescriptionculture SET cultureid=TRIM(cultureid)  ;

 * postgresql://postgres:***@bootcamprds.cemrpii4vl7l.us-east-2.rds.amazonaws.com/postgres
762 rows affected.

[]

<h3>Exercise 4:</h3>
<p>Since we cannot infer the most popular products from the reviews, we will go with an alternative strategy.</p>
<p>Get the model ID, name, description, and total number of sales for each product and display the top-10 selling products. You can infer how often products have been sold by looking at the <code>salesorderdetail</code> table (each row might indicate more than one sale, so take note of <code>OrderQty</code>).</p>

**Answer.**

**Answer.**

**Answer.**

Exercise 5:
Find the top five performing salespeople by using the salesytd (Sales, year-to-date) column. (We only need to know the businessentityid for each salesperson as this uniquely identifies each.) Why might you be skeptical of these numbers right now?

In [ ]:
Because saleslastyear could be cero

**Answer.**

**Answer.**

**Answer.**